<?xml version='1.0' encoding='utf-8'?>
<widget id="com.miapp.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>InfoMovil</name>
    <description>InfoMovil</description>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="loglevel" value="DEBUG" />
</widget>
